---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  performance-*,
  modernize-use-nullptr,
  readability-inconsistent-declaration-parameter-name
WarningsAsErrors: ''
HeaderFilterRegex: '(runner|runtime|include|tests)/'
FormatStyle: file
